@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: darkslategrey;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-masood-aslami-17586356.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    text-align: justify;
}

form > div.campo {
    background-color: darkslategrey;
    border: 2px solid darkslategrey;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(158, 199, 87);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 3px;
    transform: translateY(-13px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(63, 80, 35);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: rgb(63, 80, 35);
    border: 1px solid darkolivegreen;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: rgb(158, 199, 87);
}

